<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.geekhall.hela.server.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.geekhall.hela.server.entity.Role">
        <id column="id" property="id" />
        <result column="name" property="name" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name
    </sql>

    <resultMap id="UserResultMap" type="cn.geekhall.hela.server.entity.User">

    </resultMap>

    <!-- 通用查询结果列 -->
    <select id="getRolesByUserId" resultMap="BaseResultMap">
        select r.* from h_role r left join user_roles as ur on r.id=ur.role_id
        where 1=1
          and ur.user_id = #{userId}
    </select>

    <insert id="addRole">
        insert into h_user_role values (#{userId}, #{roleId})
    </insert>


</mapper>
