<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.geekhour.loki.mapper.EnvironmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="net.geekhour.loki.entity.Environment">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="db_type" property="dbType" />
        <result column="db_host" property="dbHost" />
        <result column="db_port" property="dbPort" />
        <result column="db_serv_type" property="dbServType" />
        <result column="db_serv_name" property="dbServName" />
        <result column="db_name" property="dbName" />
        <result column="db_user" property="dbUser" />
        <result column="db_password" property="dbPassword" />
        <result column="user_id" property="userId" />
        <result column="use_from" property="useFrom" />
        <result column="use_to" property="useTo" />
        <result column="version" property="version" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        name, description, db_type, db_host, db_port, db_serv_type, db_serv_name, db_name, db_user, db_password, user_id, use_from, use_to, version, create_time, update_time, deleted
    </sql>

</mapper>
